attrs==24.3.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
click-plugins==1.1.1
cligj==0.7.2
fiona==1.10.1
geopandas==0.14.1
idna==3.10
numpy==2.2.1
packaging==24.2
pandas==2.2.3
pyogrio==0.9.0
pyproj==3.6.1
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.31.0
shapely==2.0.6
six==1.17.0
tzdata==2024.2
urllib3==2.3.0